body {
  .category {
    width: 200px;
    h2 {
      font-size: 20px;
      font-weight: 500;
      color: #2d2f45;
      padding-bottom: 10px;
      border-bottom: 2px #2d2f45 solid;
      margin-bottom: 13px;
    }
    .productMenu {
      .menu {
        &.on {
          .subArrow {
            background: url(../assets/images/iconMinus.png) no-repeat 50% / contain;
          }
          .subMenu {
            display: block;
            margin: 0 0 10px 17px;
            li {
              height: 32px;
              line-height: 32px;
              color: #2d2f45;
            }
          }
          &:nth-child(1) {
            .subMenu {
              li {
                &:nth-child(n + 4):nth-child(-n + 8) {
                  display: none;
                }
              }
            }
          }
          &:nth-child(2),
          &:nth-child(3) {
            .subMenu {
              li {
                &:nth-child(n + 3):nth-child(-n + 8) {
                  display: none;
                }
              }
            }
          }
          &:nth-child(4),
          &:nth-child(6) {
            .subMenu {
              li {
                height: 32px;
                line-height: 32px;
                color: #2d2f45;
                &:nth-child(7),
                &:nth-child(8) {
                  display: none;
                }
              }
            }
          }
          &:nth-child(7),
          &:nth-child(8) {
            .subMenu {
              li {
                &:nth-child(n + 3):nth-child(-n + 8) {
                  display: none;
                }
              }
            }
          }
        }
        div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          a {
            width: 90%;
            font-size: 16px;
            font-weight: 500;
            color: #2d2f45;
            margin: 10px 0;
          }
          .subArrow {
            display: block;
            width: 15px;
            height: 9px;
            background: url(../assets/images/iconPlus.png) no-repeat 50% / contain;
            cursor: pointer;
          }
        }
        .subMenu {
          display: none;
        }
      }
    }
  }
}
