body {
  .product {
    padding-bottom: 80px;
    .swiperWrapper {
      margin: 30px auto 50px;
      .mySwiper {
        position: relative;
        width: 100%;
        height: 450px;

        img {
          width: 100%;
          height: 400px;
        }

        .swiper-button-prev {
          transform: translate(430px, 208px) scale(0.5, 0.45);
          color: #888;
          z-index: 99;
        }
        .swiper-button-next {
          transform: translate(-430px, 208px) scale(0.5, 0.45);
          color: #888;
          z-index: 99;
        }
        .swiper-pagination {
          position: absolute;
          bottom: 2%;
          .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            margin: 0 7px;
          }
          .swiper-pagination-bullet-active {
            width: 14px;
            height: 14px;
            background-color: #fff;
            border: 1px solid #121212;
            margin: 0 5px;
            vertical-align: middle;
            transform: translateY(-10%);
          }
        }
      }
    }
    .listWrapper {
      display: flex;
      justify-content: space-between;
      .category {
        width: 200px;
        h2 {
          font-size: 20px;
          font-weight: 500;
          color: #2d2f45;
          padding-bottom: 10px;
          border-bottom: 2px #2d2f45 solid;
          margin-bottom: 13px;
        }
        .productMenu {
          .menu {
            &.on {
              .subArrow {
                background: url(../assets/images/iconMinus.png) no-repeat 50% / contain;
              }
              .subMenu {
                margin: 0 0 10px 17px;
                li {
                  height: 32px;
                  line-height: 32px;
                  color: #2d2f45;
                  height: 100%;
                }
              }
              &:nth-child(1) {
                .subMenu {
                  li {
                    &:nth-child(n + 4):nth-child(-n + 8) {
                      display: none;
                    }
                  }
                }
              }
              &:nth-child(2),
              &:nth-child(3) {
                .subMenu {
                  li {
                    &:nth-child(n + 3):nth-child(-n + 8) {
                      display: none;
                    }
                  }
                }
              }
              &:nth-child(4),
              &:nth-child(6) {
                .subMenu {
                  li {
                    height: 32px;
                    line-height: 32px;
                    color: #2d2f45;
                    &:nth-child(7),
                    &:nth-child(8) {
                      display: none;
                    }
                  }
                }
              }
              &:nth-child(7),
              &:nth-child(8) {
                .subMenu {
                  li {
                    &:nth-child(n + 3):nth-child(-n + 8) {
                      display: none;
                    }
                  }
                }
              }
            }
            div {
              display: flex;
              justify-content: space-between;
              align-items: center;
              a {
                width: 70%;
                font-size: 16px;
                font-weight: 500;
                color: #2d2f45;
                margin: 10px 0;
              }
              .subArrow {
                display: block;
                width: 15px;
                height: 9px;
                background: url(../assets/images/iconPlus.png) no-repeat 50% / contain;
                cursor: pointer;
              }
            }
            .subMenu {
              overflow: hidden;
              transition: 0.5s;
              li {
                height: 0;
              }
            }
          }
        }
      }
      .productListContainer {
        height: 100%;
        .productList {
          width: 940px;
          padding-bottom: 20px;
          .sortWrapper {
            text-align: right;
            margin-bottom: 20px;
            .sort {
              outline: none;
              border: none;
            }
          }
          .productListWrap {
            display: flex;
            flex-wrap: wrap;
            column-gap: 15px;
            row-gap: 50px;
            transform: translateX(15px);
            .productListItem {
              position: relative;
              width: 298px;
              .titleWrapper {
                margin-bottom: 15px;
                padding: 13px 55px 0 0;
                max-height: 57px;
                word-break: keep-all;
                li {
                  &:nth-child(1) {
                    color: #a7a9b5;
                    font-size: 12px;
                    font-weight: 300;
                    height: 18px;
                    line-height: 18px;
                    margin-bottom: 3px;
                    overflow: hidden;
                  }
                  &:nth-child(2) {
                    font-size: 14px;
                    color: #232744;
                  }
                }
              }
              .priceWrapper {
                display: flex;
                justify-content: space-between;
                font-size: 14px;
                font-weight: 500;
                color: #232744;
              }
              &:nth-child(2),
              &:nth-child(5),
              &:nth-child(6),
              &:nth-child(7),
              &:nth-child(11) {
                .priceWrapper {
                  li {
                    &:nth-child(1) {
                      display: flex;
                      width: 130px;
                      justify-content: space-between;
                      span {
                        &:nth-child(2) {
                          color: #bdbec5;
                          text-decoration: line-through;
                        }
                      }
                    }

                    &:nth-child(2) {
                      color: #f02933;
                      padding-right: 15px;
                    }
                  }
                }
              }
              .cartIcon {
                text-indent: -9999px;
                position: absolute;
                right: 20px;
                bottom: 40px;
                width: 20px;
                height: 24px;
                background: url(../assets/images/iconCart.png) no-repeat 50% / cover;
              }
            }
          }
        }
        .productMore {
          height: 60px;
          line-height: 60px;
          margin: 50px auto 0;

          border-top: 1px solid #d9d8de;
          text-align: center;
          cursor: pointer;
        }
      }
    }
  }
}
