body {
  .prdDetailWrapper {
    display: flex;
    position: relative;
    .prdInfoWrapper {
      .prdInfo {
        width: 850px;
        .mainImgWrapper {
          position: relative;
          height: 840px;
          &::before {
            content: "";
            width: 1200px;
            height: 100%;
            background-color: #f2f2f2;
            position: absolute;
            transform: translateX(-393.5px);
            z-index: -1;
          }
          img {
            margin-top: 14px;
          }
        }
        .detailImgWrapper {
          margin: 75px 0 0;
          .detailImg {
            width: 760px;
            max-width: 100%;
            height: auto;
            margin: 40px auto;
          }
        }
      }
    }
    .prdSbWrapper {
      width: 350px;
      margin: 20px 0;
      .headingArea {
        margin: 13px 0 18px;
        padding-bottom: 10px;
        border-bottom: 1px solid #d4d5d9;
        .titleWrapper {
          li {
            &:nth-child(1) {
              color: #abacb1;
              padding-bottom: 10px;
            }
            &:nth-child(2) {
              color: #2d2f44;
              font-size: 20px;
              font-weight: 500;
            }
          }
        }
        .priceWrapper {
          margin-top: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .priceContainer {
            display: flex;
            align-items: center;
            gap: 12px;
            li {
              font-size: 20px;
              font-weight: 500;
              &.costPrice {
                color: #bcbdc3;
                // padding-left: 10px;
                text-decoration: line-through;
                font-size: 16px;
              }
              &.dcRate {
                color: #e5433e;
                font-size: 16px;
              }
            }
          }
          .share {
            width: 20px;
            height: 20px;
            background: url(../assets/images/detailSns.png) no-repeat 50% /
              contain;
            text-indent: -9999px;
          }
        }
      }
      .saveDes {
        .save {
          padding-bottom: 18px;
          border-bottom: 1px solid #e9e9e9;
          span {
            display: inline-block;
            font-size: 14px;
            &:nth-child(1) {
              color: #9596a0;
              width: 100px;
            }
            &:nth-child(2) {
              color: #232744;
              width: 230px;
            }
          }
          .arrowIcon {
            display: inline-block;
            vertical-align: middle;
            width: 12px;
            height: 6px;
            background: url(../assets/images/detail-arrow-down.png) no-repeat
              50% / contain;
            text-indent: -9999px;
          }
        }
        .hoverWrapper {
          display: none;
          .grade,
          .savePlus {
            span {
              display: inline-block;
              font-size: 14px;
              &:nth-child(1) {
                color: #9596a0;
                width: 100px;
              }
              &:nth-child(2) {
                color: #232744;
              }
            }
          }
        }
        .des {
          color: #f76560;
          font-size: 14px;
          padding: 10px 6px;
          border-bottom: 1px solid #e8e8e8;
        }
      }
      .orderWrapper {
        .quan {
          background-color: #f8f8f8;
          padding: 14px;
          margin: 20px 0;
          .quanTitle {
            color: #232744;
            font-size: 14px;
          }
          ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 15px;
            .countWrapper {
              display: flex;
              align-items: center;
              width: 80px;
              justify-content: space-between;
              span {
                font-size: 14px;
                width: 20px;
                text-align: center;
              }
              button {
                width: 17px;
                height: 17px;
                outline: none;
                border: none;
                text-indent: -9999px;
                cursor: pointer;
                &.minus {
                  background: url(../assets/images/detail-quantity-small-down-off.png)
                    no-repeat 50% / contain;
                }
                &.plus {
                  background: url(../assets/images/detail-quantity-small-up-off.png)
                    no-repeat 50% / contain;
                }
              }
            }
            li {
              &:nth-child(2) {
                font-weight: 500;
              }
            }
          }
        }
        .totalPrice {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          span {
            color: #2d2f43;
            &:nth-child(1) {
              font-size: 14px;
            }
            &:nth-child(2) {
              font-size: 26px;
              font-weight: 500;
              em {
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
              }
            }
          }
        }
        .btnWrapper {
          padding: 30px 0 10px;
          button {
            outline: none;
            border: none;
            height: 45px;
            border-radius: 50px;
            &.orderNow {
              width: 348px;
              background-color: #444766;
              color: #fff;
              border: 1px solid #444766;
              font-size: 16px;
              font-weight: 500;
            }
          }
          div {
            display: flex;
            justify-content: space-between;
            margin: 10px 0 0;
            button {
              width: 170px;
              background-color: #fff;
              border: 1px solid #b4b5c2;
              font-size: 14px;
            }
          }
        }
      }
    }
    .wishPopup {
      width: 412px;
      height: 356px;
      background-color: #fff;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      /* z-index: 9999; */
      border: 1px solid #3d435f;
      border-radius: 5px;
      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 25px 20px 40px;
        color: #fff;
        background: #3d435f;
        .close {
          width: 17px;
          height: 17px;
          background: url(../assets/images/popup-close-icon.png) no-repeat 50% /
            contain;
          cursor: pointer;
        }
      }
      .content {
        padding: 100px 20px 0;
        text-align: center;
        background: url(../assets/images/popup-wish-icon.png) no-repeat 50% 40px;
      }
      .actionBtn {
        margin: 50px auto 40px;
        text-align: center;

        button {
          border: none;
          width: 160px;
          height: 50px;
          color: #2d2f43;
          border-radius: 50px;
          font-size: 16px;

          &.keep {
            border: 1px solid #b4b5c1;
            background-color: #fff;
            margin-right: 10px;
          }
          &.goWish {
            background-color: #3d435f;
            color: #fff;
          }
        }
      }
    }
    .cartPopup {
      width: 412px;
      height: 356px;
      background-color: #fff;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      /* z-index: 9999; */
      border: 1px solid #3d435f;
      border-radius: 5px;
      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 25px 20px 40px;
        color: #fff;
        background: #3d435f;
        .close {
          width: 17px;
          height: 17px;
          background: url(../assets/images/popup-close-icon.png) no-repeat 50% /
            contain;
          cursor: pointer;
        }
      }
      .content {
        margin-top: 10px;
        padding: 100px 20px 0;
        text-align: center;
        background: url(../assets/images/popup-cart-icon.png) no-repeat 50% 40px;
        p {
          margin-top: 10px;
        }
      }
      .actionBtn {
        margin: 50px auto 40px;
        text-align: center;

        button {
          border: none;
          width: 160px;
          height: 50px;
          color: #2d2f43;
          border-radius: 50px;
          font-size: 16px;

          &.keep {
            border: 1px solid #b4b5c1;
            background-color: #fff;
            margin-right: 10px;
          }
          &.goWish {
            background-color: #3d435f;
            color: #fff;
          }
        }
      }
    }
  }
}
